/* Reset some default browser styles*/
html, body, h1, h2, h3, h4, p, ul, li {
    margin : 0 ;
    padding: 0 ;
}

/*Set a base font size and font family for better readability*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}
/*Style for the header */
header {
    color: #000000;
    text-align: center;
    padding: 10px 0;
}
/*Spacing headings and paragraphs*/
h1, h3, a {
    margin: 20px 0;
    font-weight: bold;
}
p{
    margin: 10px 0 ;
}

/*Style for the links */
a{
    color: #007BFF;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Custimizing headers and spacing of every section*/
h2{
    margin: 20px 0;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 15px;
}
.Project, .certs-education, .experience{
    padding-bottom: 45px;
}
.name {
    text-decoration: none;
    padding-bottom: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;

}
